{% extends 'base.html' %}
{% block content %}
<h1>Add Place</h1>

<form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqlpeJtFbNQZVU9IhQJbYW4PIBPaDZuqY&libraries=places"></script>
<script>

    const ratingEl = document.getElementById('id_rating');

    M.FormSelect.init(ratingEl);

    const placeNameEl=document.getElementById("id_name");
    const placeLocationEl = document.getElementById("id_location");
    const autocomplete = new google.maps.places.Autocomplete(placeNameEl)
    autocomplete.addListener("place_changed", function(){
        const place=autocomplete.getPlace();
        placeLocationEl.value = place.formatted_address
        placeNameEl.value=place.name
    })
</script>


{% endblock %}