{% extends 'base.html' %}
{% block content %}
<h1>Meet <span style="color:#FFE24A">Crave</span></h1>


<p>
Welcome to Crave, the ultimate foodie app! Are you tired of trying to remember which restaurants you've been to and what dishes you loved? Crave is here to help! With our app, you can track all of your dining experiences, rate restaurants, and leave notes about your favorite dishes.

But wait, there's more! Crave also allows you to create a wishlist of all the restaurants you've been dying to try. Keep your foodie bucket list in one place and never forget about that new hot spot everyone's been talking about. You can even see which of your friends have tried the restaurants on your list, and ask for their recommendations.

Say goodbye to boring meals and hello to culinary adventures. Whether you're a foodie looking to try new restaurants, or just want to keep track of your favorite places, Crave has got you covered. Download now and start exploring the culinary world!
</p>
{% endblock %}