@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

nav  {
    background-color:white;

  }

  nav .brand-logo{
    color:#FFE24A;
    font-family: 'Krona One', sans-serif;
  }

  

  nav .right a {
    color:#bbb
  }

  #place-name {
    font-family: 'Krona One', sans-serif;
    color:#3f3f3f
  }

  header.navbar-fixed nav ul li a.active{
    color: #202020;
}



main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }
  
  .grey-text {
    color:#949494;
  }

.clickable:hover td{
    background-color:#eee;
    cursor:pointer;
}

  
