{% extends 'base.html' %}
{% block content %}
<div class="card">
      <div class="card-content">
        <span class="card-title">{{ place.name }}</span>
        <p>Location: {{ place.location }}</p>
        <p>Rating: {{ place.rating }}</p>
        <p>Notes: {{ place.notes|linebreaks }}</p>
      </div>
    <!-- Add the following one as well -->
    <div class="card-action">
        <a href="{% url 'places_update' place.id %}">Edit</a>
        <a href="{% url 'places_delete' place.id %}">Delete</a>
      </div>
  </div>
  {% for photo in place.photo_set.all %}
  <img class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
  <div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}

<form action="{% url 'add_photo' place.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <button type="submit" class="btn">Upload Photo</button>
</form>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqlpeJtFbNQZVU9IhQJbYW4PIBPaDZuqY&libraries=places"></script>
<script>
    //implement Google Maps map view

</script>
{% endblock %}